python-dotenv==0.13.0
absl-py==0.7.0
appnope==0.1.0
astor==0.8.1
bleach==1.5.0
cycler==0.10.0
decorator==4.2.1
gast==0.2.2
graphviz==0.8.2
grpcio==1.28.1
h5py==2.9.0
html5lib==0.9999999
ipykernel==4.8.2
IPython==7.9.0
ipython-genutils==0.2.0
jedi==0.11.1
jupyter-client==5.2.3
jupyter-core==4.4.0
keras==2.3.1
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==3.1.2
numpy==1.16.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==2.0.1
protobuf==3.6.1
ptyprocess==0.5.2
pydot==1.4.1
pydot-ng==1.0.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
scipy==1.4.1
simplegeneric==0.8.1
six==1.11.0
tensorboard==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
tornado==5.0.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15